<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>

  <h2><%= t ".explore" %></h2>
  <%= link_to t(".sign_up_now"), "#", class: "btn btn-large btn-info" %>
</div>

<div class="center">
  <%= image_tag "index.jpeg", alt: t(".image") %>
<div>
